@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  color: white;
} */
*  {
  font-family: 'Roboto', sans-serif;
}
main {
  font-size: 62.5%;
}

/* body {
  height: 100vh;
  display: grid;
  place-items: center;
} */

h1 {
  /* font-size: 3.4rem; */
  font-size: 34px;
}

h2 {
  /* font-size: 3.0rem; */
  font-size: 30px;
}

h3 {
  /* font-size: 2.6rem; */
  font-size: 26px;
}

h4 {
  /* font-size: 1.8rem; */
  font-size: 18px;
}

h5 {
  /* font-size: 1.6rem; */
  font-size: 16px;  
}

p, span {
  /* font-size: 1.4rem; */
  font-size: 14px;
}

a {
  /* font-size: 1.6rem; */
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  color: #BB86FC;
}

main#card {
  height: 450px;
  width: 400px;
  background: deepskyblue;
  display: grid;
  grid-template-rows: 80px 1fr 60px 50px;
  grid-template-areas: "primary-title" "img" "supporting-text" "actions";
}

main#card section#primary-title {
  grid-area: primary-title;
  background: black;
  display: flex;
}

main#card section#primary-title .left {
  border: none;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main#card section#primary-title .right {
  flex-grow: 1;
  border: none;
  display: flex;
  flex-direction: column;
}

main#card section#primary-title .right .top {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
  border: none;
  color: #BB86FC;
}

main#card section#primary-title .right .bottom {
  flex-grow: 1;
  display: flex;
  border: none;
  color: #03DAC5;
}

main#card section#img {
  grid-area: img;
  background: black;
  background-image: url("../img/lena.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main#card section#supporting-text {
  grid-area: supporting-text;
  background: #121212;
  color: white;
  display: grid;
  place-items: center;
  position: relative;
}

main#card section#supporting-text .container {
  width: 90%;
  border: none;
}

main#card section#supporting-text .container-for-bottom-border {
  position: absolute;
  height: 100%;
  width: 94%;
  border-bottom: solid gray 1px;
}

main#card section#actions {
  grid-area: actions;
  background: black;
  display: flex;
}

main#card section#actions .left {
  flex-grow: 0.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
}

main#card section#actions .left .container {
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main#card section#actions .right {
  flex-grow: 1;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

main#card section#actions .right .container {
  border: none;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

main#card section#actions .right .container svg {
  color: white;
}
