* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  position: fixed;
}

.container .nav-drawer {
  position: absolute;
  left: -200px;
  height: 100vh;
  width: 200px;
  background: darkorchid;
}

.container .nav-drawer .nav-container {
  border: solid white 2px;
  overflow: hidden;
  height: 30px;
  text-align: center;
}

.container .nav-drawer .nav-container a {
  height: 25px;
  display: inline-block;
  color: white;
  text-decoration: none;
  border: solid hotpink 2px;
}

.hamburger {
  border: solid white 3px;
  background: deepskyblue;
}

.hamburger.play-1 {
  width: 50px;
  height: 50px;
}

.hamburger.play-2 {
  width: 70px;
  height: 70px;
}

nav {
  height: 100px;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr;
  background: gray;
}

nav .nav__left {
  height: 100%;
  border: solid hotpink 2px;
  grid-area: navLeft;
  display: flex;
  flex-direction: column;
}

nav .nav__left .top {
  background: green;
  flex-grow: 1;
  width: 100%;
  display: flex;
}

nav .nav__left .top .left {
  flex-grow: 1;
  background: darkorange;
  display: grid;
  place-items: center;
}

nav .nav__left .top .left h1 {
  margin: 0;
}

nav .nav__left .top .right {
  flex-grow: 1;
  background: darkorchid;
  display: grid;
  place-items: center;
}

nav .nav__left .bottom {
  flex-grow: 1;
  padding: 0 5%;
  display: flex;
  justify-content: space-evenly;
  background: red;
  width: 100%;
}

nav .nav__left .bottom a {
  background: green;
  padding: 5px;
  display: grid;
  place-items: center;
  width: 60px;
}

nav .nav__right {
  height: 100%;
  border: solid darkorange 2px;
  grid-area: navRight;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}

@media screen and (max-width: 775px) {
  nav {
    grid-template-columns: 1fr;
    grid-template-areas: "navLeft";
  }
  nav .nav__right {
    display: none;
  }
}

@media screen and (min-width: 776px) {
  nav {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "navLeft navRight";
  }
  nav .nav__left .top .right .hamburger {
    visibility: hidden;
  }
}
