$nav-height: 100px;
$body-height: 100vh;
$navDrawer-height: calc(100vh - 100px);
$hamburger-height: 75px;
$boxContainer-height: 50px;
* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body { 
  background: deepskyblue;
  height: $body-height;
  // border: dashed hotpink 3px;
}
nav {
  background: lightgreen;
  display: flex;
  justify-content: flex-end;
  padding: 1%;
}
.hamburger { 
  border: solid black 5px;
  width: $hamburger-height;
  height: $hamburger-height;
}
.nav-drawer {
  transform: translateX(-100px);
  height: $navDrawer-height;
  width: 100px;
  background: red;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  .box-container {
    position: relative;
    // background: darkorange;
    height: $boxContainer-height;
    width: 100px;
    overflow: hidden;

    .box {
      height: 100%;
      width: 100%;
      // border: dashed white 5px;
      position: absolute;
      top: $boxContainer-height;
      display: grid;
      place-items: center;

      a { 
        text-decoration: none;
        color: white;
      }
    }
  }
}