nav {
  display: flex;
  padding: 0 2%;

  .left {
    flex-grow: 1;
    border: dashed darkorchid 5px;
    display: flex;
    flex-direction: column;
  }
  .right {
    flex-grow: 6;
    border: dashed yellowgreen 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    .hamburger {
      height: 75px;
      width: 75px;
      border: solid white 3px;

      .line {
        height: 10px;
        // width: 80%;
        width: 100px;
        background: white;
        
      }
    }
  }

  .nav__row {
    border: solid hotpink 2px;
    display: flex;
    align-items: center;

    &.top { flex-grow: 2; }
    &.bottom { flex-grow: 1;  
      padding: 0 1%;

      // When hover nav make all a's do this:
      &:hover a {opacity: 0.5;}
      a {transition: opacity 0.2s ease, border-bottom 0.9s ease;}

      // To the specific hovering over do this:
      a:hover { 
        opacity: 1; // override the nav:hover a
        
        border-bottom: solid $nav-color 3px;
      }

      a {
        opacity: 1;
        color: $nav-color;
        display: inline-block;
        height: 50px;
        flex-grow: 1;
        display: grid;
        place-items: center;

        // &:hover  { color: red; }
        // &:active { color: green; }
        // &:not(:hover) { background: yellow; }
        // &:not(:hover) { background: yellow; }
      }


    }
    
  }
}