@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'global';

body {
  background: deepskyblue;
  margin: 0;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr 150px;
}

nav {
  background: $nav-background;
  color: $nav-color;
}

footer {
  background: gray;
}

main {
  // height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px;
  padding: 5px 200px;

  grid-template-areas: 
    "A A B B"
    "A A B B"
    "C D E F"
    "G H I J";
}

@import 'nav';
@import 'main';
@import 'footer';