$primary: #BB86FC;
$primary-variant: #3700B3;
$secondary: #03DAC5;
$error: #CF6679;
$surface: #121212;
$black: black;
$white: white;

// $debug-1: dashed white 2px;
// $debug-2: dashed blue 2px;
// $debug-3: dashed green 2px;
// $debug-4: dashed lightpink 2px;
// $debug-5: dashed lightgreen 2px;

$debug-1: none;
$debug-2: none;
$debug-3: none;
$debug-4: none;
$debug-5: none;