* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
  background: deepskyblue;
  position: relative;
}

.one {
  height: 100px;
  width: 100px;
  background: red;
}

.two {
  height: 100px;
  width: 100px;
  background: green;

  position: absolute;
  z-index: 5;
  bottom: 0;
}

section.hero {
  width: 100vw;
  height: 100vh;
  background: darkviolet;
  z-index: -1;
  position: absolute;
}