.hero-img {
  background: darkorange;
}

.hero-text {
  background: darkorchid;
  padding: 0 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .container {
    border: dashed white 5px;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    > div {
      border: solid hotpink 2px;
      > button {
        width: 30%;
      }
    }
  }
}

.card {
  border: solid white 1px;
}