$nav-padding: 1%;
$nav-height: 100px;
$body-height: 100vh;
// $navDrawer-height: calc(100vh - 100px);
$navDrawer-height: calc(100vh - 0px);
$main-offset: calc(0px + 1%);
$hamburger-height: 75px;
$boxContainer-height: 50px;
* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body { 
  background: deepskyblue;
  height: $body-height;
  // border: dashed hotpink 3px;
}
main { // Offset for fixed-nav
  margin-top: $main-offset;
  // -Where the main section is placed is in 
  //  the grid in the main.scss file.
  // -But we don't account for the padding in the nav.
  // -This margin accounts for the padding in the nav.
}
nav { // Fixed
  position: fixed;
  width: 100%;
  background: lightgreen;
  display: flex;
  justify-content: flex-end;
  padding: $nav-padding;
}
.hamburger { 
  border: solid black 5px;
  width: $hamburger-height;
  height: $hamburger-height;
}
.nav-drawer { // Fixed
  position: fixed;

  transform: translateX(-100px);
  height: $navDrawer-height;
  width: 100px;
  background: red;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  .box-container { // Relative
    position: relative;
    // background: darkorange;
    height: $boxContainer-height;
    width: 100px;
    overflow: hidden;

    .box { // Absolute
      height: 100%;
      width: 100%;
      // border: dashed white 5px;
      position: absolute;
      top: $boxContainer-height;
      display: grid;
      place-items: center;

      a { 
        text-decoration: none;
        color: white;
      }
    }
  }
}