@import 'nav';

body {
  background: deepskyblue;
  margin: 0;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $nav-height 1fr $nav-height;

  grid-template-areas: 
    "nav"
    "main"
    "footer";
}