#Hero-Image-Container {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    background-image: url('../img/dream-office_1024x576_MozJPEG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: grid;
    place-items: center;
}
#Header-Right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 10% 5% 10%;
}
#Header-Right > h1 {
    font-size: 3.4rem;
}
.Button {
    width: fit-content;
    /* padding: 1.5% 3%; */
    padding: 8px 20px;
    border-radius: 8%;
    background: rgba(255,255,255,0.25);
    transition: 0.5s;            
}
.Button > h5 {
    color: black;
    font-weight: bold;
    transition: 0.5s;
}
.Button:hover {
    background: rgba(0, 0, 0, 0.25);
    cursor: crosshair;
}
.Button:hover > h5 {
    color: white;
}
#Header-Right > p {
    font-size: 1.4rem;
}