@import url('./debug.css');
@import url('./background-colors.css');

/* XX-Large:  1400 and up */
.Page-Container { /* >= 1400 */
    margin: 0 10%;
    background-color: var(--background-0);
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(12, 100px);
    grid-template-areas:
        "nav          nav         nav         nav         nav          nav"

        "header-r     header-r    project-1   project-1   project-2    project-2"
        "header-r     header-r    project-1   project-1   project-2    project-2"

        "header-l     header-l    project-3   project-3   project-4    project-4"
        "header-l     header-l    project-3   project-3   project-4    project-4"

        "project-5    project-5   project-5   project-6   project-6    project-6"
        "project-5    project-5   project-5   project-6   project-6    project-6"
        "project-5    project-5   project-5   project-6   project-6    project-6"

        "project-7    project-7   project-7   project-8   project-8    project-8"
        "project-7    project-7   project-7   project-8   project-8    project-8"
        "project-7    project-7   project-7   project-8   project-8    project-8"

        "footer       footer      footer      footer      footer       footer";
}
/* X-Large:  1200 <= x < 1400 */
@media (max-width: 1399px) { /* < 1400 */
    .Page-Container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 200px 200px 200px 100px;
        grid-template-areas:
            "nav          nav         nav         nav"
            "header-l     header-l    header-r    header-r"
            "project-1    project-2   project-3   project-4"
            "project-5    project-6   project-7   project-8"
            "footer       footer      footer      footer";
    }
}

/* Large:  992 <= x < 1200 */
@media (max-width: 1199px) { /* < 1200 */
    .Page-Container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 200px 200px 200px 100px;
        grid-template-areas:
            "nav          nav         nav         nav"
            "header-l     header-l    header-r    header-r"
            "project-1    project-2   project-3   project-4"
            "project-5    project-6   project-7   project-8"
            "footer       footer      footer      footer";
    }
}

/* Medium:  768 <= x < 992 */
@media (max-width: 991px) { /* < 992 */
    .Page-Container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 
            100px /* nav */
            200px /* header-l */
            200px /* header-r */
            200px /* project-1/2 */
            200px /* project-3/4 */
            200px /* project-5/6 */
            200px /* project-7/8 */
            100px;/* footer */
        grid-template-areas:
        "nav          nav      "
        "header-l     header-l " 
        "header-r     header-r "
        "project-1    project-2"
        "project-3    project-4"
        "project-5    project-6"
        "project-7    project-8"
        "footer       footer   ";
    }
}

/* Small:  576 <= x < 768 */
@media (max-width: 767px) { /* < 768 */
    .Page-Container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 100px);
        grid-template-areas:
        "nav      "
        "header-l " 
        "header-r "
        "project-1"
        "project-2"
        "project-3"
        "project-4"
        "project-5"
        "project-6"
        "project-7"
        "project-8"
        "footer   ";
    }
}

/* X-Small:        x < 576 */
@media (max-width: 575px) { /* < 576 */
    .Page-Container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 100px);
        grid-template-areas:
        "nav      "
        "header-l " 
        "header-r "
        "project-1"
        "project-2"
        "project-3"
        "project-4"
        "project-5"
        "project-6"
        "project-7"
        "project-8"
        "footer   ";
    }
}

nav {
    grid-area: nav;
    border: var(--debug-border-0);
}

#Header-Left {
    grid-area: header-l;
    border: var(--debug-border-1);
    background: var(--background-1);
}
#Header-Right {
    grid-area: header-r;
    border: var(--debug-border-2);
    background: var(--background-2);
}

.Project {
    background: var(--background-3);
    border: var(--debug-border-0);
    font-size: 50px;
    display: grid;
    place-items: center;
}
#Project-1 { grid-area: project-1; }
#Project-2 { grid-area: project-2; }
#Project-3 { grid-area: project-3; }
#Project-4 { grid-area: project-4; }
#Project-5 { grid-area: project-5; }
#Project-6 { grid-area: project-6; }
#Project-7 { grid-area: project-7; }
#Project-8 { grid-area: project-8; }

.Projects-Container {
    grid-area: projects
}

footer {
    grid-area: footer;
    border: var(--debug-border-1);
    background: var(--background-4);
}