:root {
    --background-color-blue: #D1ECFE;
    --border-color-blue:   #1F69AD;
    --glow-color-blue: #7f8fa7;

    --background-color-yellow: #FDEC3D;
    --border-color-yellow: #857D1D;
    --glow-color-yellow: rgba(236, 204, 0, 0.62);

    --background-color-pink: #FDD8E6;
    --border-color-pink: #F70067;
    --glow-color-pink: rgba(189, 135, 189, 0.62);

    --background-color-green: #87C887;
    --border-color-green: #377E36;
    --glow-color-green: rgba(70, 255, 173, 0.62);

    --background-color-purple: #B691D2;
    --border-color-purple: #6918A4;
    --glow-color-purple: #b881d5;

    --background-color-tan: #FBCAAC;
    --border-color-tan: #333333;
    --glow-color-tan: #ac5479;

    --background-color-grey: #CCCCCC;
    --border-color-grey: #666666;
    --glow-color-grey: #777777;
     
    --background-color-brown: #85614F;
    --border-color-brown: #642F13;
    --glow-color-brown: #a56554;
    
    --background-color-primary: var(--background-color-blue);
    --border-color-primary: var(--border-color-blue);
    --glow-color-primary: var(--glow-color-blue);
}
.Active-Theme { box-shadow: 0 0 10px 4px var(--glow-color-primary); }
.Button-Container {
    display: inline-grid;
    grid-gap: 0px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: salmon 5px solid;
    background: rgba(0, 0, 0, 0.7);
}
.Button-Container > button {
    padding: 7px;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 9px;
    cursor: pointer;
    transition: 0.3s;
}
.Button-Container > button:hover {
    transform: scale(1.75, 1.75);
}
#theme-1 {
    background: var(--background-color-blue);
    border: solid 5px var(--border-color-blue);
    /* box-shadow: 0 0 10px 4px var(--glow-color-blue); */
}
#theme-2 {
    background: var(--background-color-yellow);
    border: solid 5px var(--border-color-yellow);
    /* box-shadow: 0 0 10px 4px var(--glow-color-yellow); */
}
#theme-3 {
    background: var(--background-color-pink);
    border: solid 5px var(--border-color-pink);
    /* box-shadow: 0 0 10px 4px var(--glow-color-pink); */
}
#theme-4 {
    background: var(--background-color-green);
    border: solid 5px var(--border-color-green);
    /* box-shadow: 0 0 10px 4px var(--glow-color-green); */
}
#theme-5 {
    background: var(--background-color-purple);
    border: solid 5px var(--border-color-purple);
    /* box-shadow: 0 0 10px 4px var(--glow-color-purple); */
}
#theme-6 {
    background: var(--background-color-tan);
    border: solid 5px var(--border-color-tan);
    /* box-shadow: 0 0 10px 4px var(--glow-color-tan); */
}
#theme-7 {
    background: var(--background-color-grey);
    border: solid 5px var(--border-color-grey);
    /* box-shadow: 0 0 10px 4px var(--glow-color-grey); */
}
#theme-8 {
    background: var(--background-color-brown);
    border: solid 5px var(--border-color-brown);
    /* box-shadow: 0 0 10px 4px var(--glow-color-brown); */
}