* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

._container {
  z-index: 2;
  height: 100vh;
  position: fixed;
}

._container ._nav-drawer {
  position: absolute;
  left: -200px;
  height: 100vh;
  width: 200px;
  background: darkorchid;
}

._container ._nav-drawer ._nav-container {
  border: solid white 2px;
  overflow: hidden;
  height: 30px;
  text-align: center;
}

._container ._nav-drawer ._nav-container a {
  height: 25px;
  display: inline-block;
  color: white;
  text-decoration: none;
  border: solid hotpink 2px;
}

._hamburger {
  border: solid white 3px;
  background: deepskyblue;
}

._hamburger._play-1 {
  width: 50px;
  height: 50px;
}

._hamburger._play-2 {
  width: 70px;
  height: 70px;
}

nav {
  height: 100px;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr;
  background: gray;
}

nav ._nav__left {
  height: 100%;
  border: solid hotpink 2px;
  grid-area: _navLeft;
  display: flex;
  flex-direction: column;
}

nav ._nav__left ._top {
  background: green;
  flex-grow: 1;
  width: 100%;
  display: flex;
}

nav ._nav__left ._top ._left {
  flex-grow: 1;
  background: darkorange;
  display: grid;
  place-items: center;
}

nav ._nav__left ._top ._left h1 {
  margin: 0;
}

nav ._nav__left ._top ._right {
  flex-grow: 1;
  background: darkorchid;
  display: grid;
  place-items: center;
}

nav ._nav__left ._bottom {
  flex-grow: 1;
  padding: 0 5%;
  display: flex;
  justify-content: space-evenly;
  background: red;
  width: 100%;
}

nav ._nav__left ._bottom a {
  background: green;
  padding: 5px;
  display: grid;
  place-items: center;
  width: 60px;
}

nav ._nav__right {
  height: 100%;
  border: solid darkorange 2px;
  grid-area: _navRight;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}

@media screen and (max-width: 775px) {
  nav {
    grid-template-columns: 1fr;
    grid-template-areas: "_navLeft";
  }
  nav ._nav__right {
    display: none;
  }
}

@media screen and (min-width: 776px) {
  nav {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "_navLeft _navRight";
  }
  nav ._nav__left ._top ._right ._hamburger {
    visibility: hidden;
  }
}
