* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body { background: deepskyblue; }
.hamburger { 
  border: solid black 5px;
  width: 75px;
  height: 75px;
}
.nav-drawer {
  height: 100px;
  width: 100px;
  background: red;
  position: relative;
  .box {
    height: 100px;
    width: 100px;
    border: dashed white 5px;
    position: absolute;
    top: 100px;
  }
}