$drawer-width: 200px;
$drawer-width-neg: -200px;

.container {
  height: 100vh;
  position: fixed;
  .nav-drawer {
    position: absolute;
    left: $drawer-width-neg;
    height: 100vh;
    width: $drawer-width;
    background: darkorchid;
    
    // display: grid;
    // place-items: center;

    .nav-container {

      border: solid white 2px;
      overflow: hidden;

      height: 30px;
      text-align: center;

      a {
        height: 25px;
        display: inline-block;
        color: white;
        text-decoration: none;
        border: solid hotpink 2px;
      }
    }


  }
}